h1 {
  display: flex;
  justify-content: center;
  color: lightgrey;
  background-color:lightsalmon;
  border: 2px solid black;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.title-container {
  display: flex;
  justify-content: space-evenly;
}